
@media(max-width:1140px){
	.pic img {
	max-width:70%;
	}

hgroup h1, hgroup h2, hgroup h3{
	font-size:30px;
	line-height: 20px;
	}

hgroup h3{
	
	line-height: 50px;
	}
	
}

@media(max-width:1065px){
	
	.wrap, #content {
		max-width: 90%;
	}
	
}

@media(max-width:950px){

	.wrap, #content {
		max-width: 95%;
	}
	

	.pic{
		max-width: 30%;
	}

	#der{
		max-width: 65%;
	}

	hgroup h1, hgroup h2, hgroup h3{
	font-size:24px;
	}

	hgroup h3{
	
	line-height: 38px;
	}



}	

@media(max-width:760px){
	

	.pic, #der{
		display: block;
		max-width: 100%;
	}

	.pic img{
		max-width: 30%;
	}

	aside, section#acerca{
		display: block;
		max-width: 100%;
	}

	.col_i h2, .col_d h2{
		font-size:24px;
	}

}
	

@media(max-width:515px){
	
/*#content{
		background-color: white;
	}*/

	nav ul li{
		display: block;
		max-width: 100%;
		margin-bottom: 2px;
	}

	nav ul li a {
		max-width: 100%;
		padding:8px 40px;

	}

	.col_d, .col_i {
		display: block;
		max-width: 100%;
		text-align: justify;
	}



	
}