@font-face {
	font-family: 'sigmar';
	src: url('../fonts/SigmarOne.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'shadow';
	src: url('../fonts/ShadowsIntoLightTwo-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'kne';
	src: url('../fonts/Knewave-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0;
	padding:0;
	border:0;
}
body {
	background:url(../images/body.gif) 0 0 repeat-x #535353;
	font-size:16px;
	font-family:'shadow';
	text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

.wrap {
	max-width:80%;
	margin:0 auto;	
}

header {
	max-width:100%;
	text-align:center;
	background:gray ;
	text-transform: uppercase;
	display:block;
	/* Sombra*/
	-webkit-box-shadow: 1px 1px 8px #292929;
	-moz-box-shadow: 1px 1px 8px #292929;
	box-shadow: 1px 1px 8px #292929;
}

#der, .pic{
	display:inline-block;
	margin:0 auto;
	max-width:100%;	
	vertical-align:top;
	margin-top:10px;
	padding:10px;
}

#der{
	max-width:55%;	
}

.pic{
	max-width:40%;
}

img{
	max-width: 100%;
}

.pic img {
	border: 18px solid #222222;
	max-width:100%;
}

.fade{
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	opacity:1;
	filter:alpha(opacity=10);
}

.fade:hover {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	opacity:0.5;
	filter:alpha(opacity=5);
}

nav, hgroup{
	max-width:100%;
	display:block;
	width:100%;
}

nav ul{
	width:100%;
	padding:0;
}

nav ul li{
	display:inline-block;
	vertical-align:top;
	margin-bottom:10px;
	margin-right:3px;
	background: #1E90FF;
	/* bordes redondeados*/
	-webkit-border-radius: 100px;
	-webkit-border-top-left-radius: 00;
	-moz-border-radius: 100px;
	-moz-border-radius-topleft: 00;
	border-radius: 100px;
	border-top-left-radius: 00;
	text-align:center;
	padding:8px 10px;
	/* transicion*/
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;	
}


nav ul li a{
	max-width:20%;
	font-size:14px;
	font-family:"sigmar";
	color:white;
	text-transform:uppercase;
	text-decoration:none;
	display: block;
	
		
}

nav ul li:hover{
	color:#1E90FF;
	background:rgba(0,0,0,.3);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

hgroup{
	background-color: #222222;
	/* bordes redondeados*/
	 border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	/* Sombra*/
	-webkit-box-shadow: 0px 0px 8px rgb(135,206,250);
	-moz-box-shadow: 0px 0px 8px rgb(135,206,250);
	box-shadow: 0px 0px 8px rgb(135,206,250);
	margin-top:20px;
	
}
hgroup h1,h2,h3{
	font-family: sigmar,Helvetica, Arial, sans-serif;
	padding-left:20px;
}

hgroup h1{
	color:white;
	padding-top:15px;
}

hgroup h2{
	font-size:40px;
	line-height: 40px;
	color: #1E90FF ;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
}

hgroup h3{
	font-size:40px;
	line-height: 60px;
	color:rgb(154,205,50);
}

#content{
	text-align:center;
	max-width: 80%;
	margin:20px auto;	
	background-color: #222222;
	 border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	/* Sombra*/
	-webkit-box-shadow: 0px 0px 8px rgb(135,206,250);
	-moz-box-shadow: 0px 0px 8px rgb(135,206,250);
	box-shadow: 0px 0px 8px rgb(135,206,250);

}

#content  h1, h2{
	padding:15px;
	color: #1E90FF;
	text-align:center;
}

#content p{
	font-weight:bold;
	color:#f90
}

aside, section#acerca{
	display:inline-block;
	vertical-align:top;
	max-width:30%;
}

section#acerca{
	max-width:65%;
	color:rgb(154,205,50); 
	text-align:justify;
	padding:10px;

}

section#acerca span{
	background: gray;
	padding-top:0px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:0px;
	color:white;
	font-family: sigmar,Helvetica, Arial, sans-serif;
	line-height: 30px;
	font-weight:normal;
}

#info-contacto span{
	background: gray;
	padding: 2px 10px;
	color:white;
	font-family: 'shadow';
	line-height: 30px;
}

form{
	width:95%;
}

form div{
	margin: 10px;

}

input[type="email"], input[type="text"], textarea {
	border-radius: 10px;
	padding:10px;
	width:100%;
	/* transicion*/
	-webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	-ms-transition: all 0.75s ease-in-out;
	-o-transition: all 0.75s ease-in-out;
	transition: all 0.75s ease-in-out;
}

input[type="email"]:focus, input[type="text"]:focus,textarea:focus{
	background: #C6ECF9;
	-webkit-box-shadow: 0px 0px 8px rgb(135,206,250);
	-moz-box-shadow: 0px 0px 8px rgb(135,206,250);
	box-shadow: 0px 0px 8px rgb(135,206,250);
}

input[type="submit"] {
	background: #1E90FF;
	color: white;
	border-radius:5px;
	padding: 5px;
	font-family: "sigmar";
}

input[type="submit"]:hover {

	cursor:pointer;
}
form label{
	text-align:justify;
	color:white;
}

fieldset {
	
}
legend{

	color:#f90;
	font-weight:bold;

}

textarea{ 
	resize:none;
}

#info-contacto, #contactanos{
	display: inline-block;
	vertical-align:top;
	margin:0 auto;
	text-align:justify;
	width:45%;
	padding:10px;
}
#info-contacto{
	color:#f90;
	font-weight:bold;
	width:30%;
}

.exito {  
         background-color: gray;
         border-radius: 25px;
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		padding:10px; 
		color:white;
		margin-top:10px;

}

#paginacion {
	font-weight:bold;
	color: white;
}

#paginacion a{
	text-decoration:none;
	color: rgb(154,205,50);
}


footer{
	max-width:100%;
	background: #222222;
	color:white;
	
	/* Sombra*/
	-webkit-box-shadow: 1px 1px 8px #292929;
	-moz-box-shadow: 1px 1px 8px #292929;
	box-shadow: 1px 1px 8px #292929;
}

.col_i, .col_d{
	display:inline-block;
	vertical-align:top;
	max-width:48%;
	padding-top:20px;
		
}
.col_d{
	max-width:50%;
}

.col_i{
	text-align:left;
}

.col_i h2{
	padding-left:0;
	margin-left:0;
	text-align:justify;
}
.col_i p{
	padding-left:10px;

}

.col_i a{
	text-decoration:none;
	color:white;
	font-weight:bold;
}

.bordes_r {
	 border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}
.col_d p{
	padding-left:22px;
}

.col_d h2{
	text-align:right;
	padding-right:0;
}

.col_d a{
	
	background: gray;
	padding-top:0px;
	padding-left:9px;
	padding-right:9px;
	padding-bottom:0px;
	color:white;
	font-family: 'shadow';
	line-height: 30px;
	font-size: 22px;
	text-decoration:none;
	/* transicion*/
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.col_d a:hover, .col_i a:hover {
	background:rgba(0,0,0,.5);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.col_d{
	text-align:right;
	
}

footer h2{
	font-size:40px;
	color:rgb(154,205,50);
	font-family: sigmar,Helvetica, Arial, sans-serif;
}

footer p{
	padding-top:20px;
	font-size:16px;

}

.webs{
	width:200px;
	padding:10px;
	border:solid 10px #535353;
	background: #ccc;
	display:inline-block;
	margin:20px;
	font-weight:bold;
	color:rgb(154,205,50);
	
}

.webs img{
	border: solid 1px white;
	height:180px;
	-webkit-transition: .2s ;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.webs img:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
	
}

.webs a{
	text-decoration:none;
	color: #FF9900;
}

/** estilos servicios*/

ol {
	padding: 0 16px
}

ol li{
	padding: 16px 0;
}

#servicios-principal img{
	border-radius: 8px;
	/*max-width: 30%;*/
}


section#servicios-principal, section#servicios-tipos {
	margin: 0 auto;
	max-width: 95%;
}

#img-servicios, article#nuestros-servicios{
	display: inline-block;
	margin: o auto;
	vertical-align: top;
	width: 40%;
}

article#nuestros-servicios, article#servicio1 , article#servicio2, article#servicio3 {
	background: #1E6381;
	border-radius:  8px;
	max-width: 100%;
	min-height: 300px;
	padding: 8px;
	text-align: justify;
	width: 55%;
}

article#servicio1 , article#servicio2, article#servicio3{
	background: #011E30;
	display: inline-block;
	width: 31%;
	vertical-align: top;
}


