@font-face {
	font-family: 'sigmar';
	src: url('../fonts/SigmarOne.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'shadow';
	src: url('../fonts/ShadowsIntoLightTwo-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'kne';
	src: url('../fonts/Knewave-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0;
	padding:0;
	border:0;
}
body {
	/*background:url(../images/body.gif) 0 0 repeat-x #535353;*/
	font-size:16px;
	font-family:'shadow';
	/*text-shadow: 1px 1px 0 rgba(0,0,0,.3);*/
}

.wrap {
	max-width:80%;
	margin:0 auto;	
}

header {
	max-width:100%;
	text-align:center;
	background: #222222;
	text-transform: uppercase;
	display:block;
	position: relative;	
	z-index: 1;
	/*background:url(../images/header.png) 0 0 repeat-x #535353;*/
}
#sigueme{
	text-align: right;
	background: gray;
	padding-top: 4px;
}



#der, #logo{
	display:inline-block;
	margin:0 auto;
	vertical-align:top;
	width: 30%;
	max-width: 30%;
	text-align: left;
	margin-top: 5px;
}

#der{
	max-width:65%;	
	width: 65%;
	text-align:right;
	margin-top: 33px;
}


img{
	max-width: 100%;
	
}

#logo img {
	max-width:100%;
	width: 100%;
}

.fade{
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	opacity:1;
	filter:alpha(opacity=10);
}

.fade:hover {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	opacity:0.5;
	filter:alpha(opacity=5);
}

nav, hgroup{
	max-width:100%;
	display:block;
	width:100%;

}

nav ul{
	width:100%;
	padding:0;
}

nav ul li{
	display:inline-block;
	vertical-align:top;
	margin-bottom:10px;
	
	/*margin-right:3px;*/
	/* bordes redondeados
	-webkit-border-radius: 100px;
	-webkit-border-top-left-radius: 00;
	-moz-border-radius: 100px;
	-moz-border-radius-topleft: 00;
	border-radius: 100px;
	border-top-left-radius: 00;*/
	text-align:center;
	padding:8px 10px;
	/* transicion*/
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: gray;
	border: 3px solid gray;	
	
}


nav ul li a{
	max-width:20%;
	font-size:16px;
	font-family:"sigmar";
	color:white;
	text-transform:uppercase;
	text-decoration:none;
	display: block;
	

	
		
}

nav ul li:hover{
	color:#1E90FF;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background:rgb(255,255,255,.5);
	/*-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;*/
	 
}

hgroup{
	background-color: #222222;
	/* bordes redondeados*/
	 border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	/* Sombra*/
	-webkit-box-shadow: 0px 0px 8px rgb(135,206,250);
	-moz-box-shadow: 0px 0px 8px rgb(135,206,250);
	box-shadow: 0px 0px 8px rgb(135,206,250);
	margin-top:20px;
	
}
hgroup h1,h2,h3{
	font-family: sigmar,Helvetica, Arial, sans-serif;
	padding-left:20px;
}

hgroup h1{
	color:white;
	padding-top:15px;
}

hgroup h2{
	font-size:40px;
	line-height: 30px;
	color: #1E90FF ;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
}

hgroup h3{
	font-size:40px;
	line-height: 50px;
	color:rgb(154,205,50);
}
#conocimientos{

}

#content{
	position: relative;
	top: 400px;
	text-align:center;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 0;
}

.flexslider{
		/*Sombra
	-webkit-box-shadow: 10px  0px 8px 0px rgb(135,206,250);
	-moz-box-shadow: 10px  0px 8px 0px rgb(135,206,250);
	box-shadow: 10px  0px 8px 0px rgb(135,206,250);*/
		
}

.sombra{
	
	-webkit-box-shadow: 10px  2px 8px 0px #D6D9DB,-10px  2px 8px 0px #D6D9DB;
	-moz-box-shadow: 10px  2px 8px 0px #D6D9DB, -10px  2px 8px 0px #D6D9DB;
	box-shadow: 10px  2px 8px 0px #D6D9DB, -10px  2px 8px 0px #D6D9DB;
	
		
}




#content  h1, h2{
	padding-bottom:15px;
	color: #1E90FF;
	text-align:center;
	/* Sombra*/
	
}

#content p, #content-home p, #content-services p{
	font-weight:bold;
	color: #284366;
}

aside, section#acerca{
	display:inline-block;
	vertical-align:top;
	max-width:70%;
	width: 70%;
	/*background-color: #D2E5F3;*/
}

aside{
	margin-right: 3%;
	width: 22%;
	max-width: 22%;



}
.titulo, .forma{
	display: inline-block;
	vertical-align: top;
	width: 40%;

}

.titulo{
	float: left;
	background: #1E90FF;
	padding: 10px;
	margin-bottom: 20px;
}

.forma{

margin:0 auto;
width:0;
height:0;
border-color:#1E90FF transparent transparent #1E90FF ;
border-style:solid;
border-width:29px;
float: left;

}

section#acerca{
	width: 73%;
	max-width: 73%;
	text-align: center;
}

#slider{
	position: relative;
	top: 155;
	width: 100%;
	max-width: 100%;
	text-align: center;
}

#redes-slide{
	position: absolute;
	top: 67.3%;
	left: 75%;
	z-index: 1;
	margin: 0px;
	padding: 0px;
	background: gray;
}

#redes{
	width: 100%;
	max-width: 100%;
	text-align: center;
}

#twitter, #facebook{
	display: inline-block;
	vertical-align: top;		
	width: 40%;
	max-width: 45%;
}


#yo{
	
	max-width: 100%;
	width: 100%;
	margin-bottom: 30px;


}

aside #yo img{
	border: 10px solid #284366;
	max-width: 90%;
	width: 90%;
}

section#acerca{
	max-width:70%;
	width: 70%;
	color:rgb(154,205,50); 
	text-align:justify;
}

section#acerca article{
	padding: 5px;
	
}




section#conocimientos article{
	width: 95%;
	max-width: 95%;
	text-align: justify;
	margin-top: 30px;
	margin-bottom: 10px;
	
}

section#acerca span, section#conocimientos span, section#conocimientos article span.titulo_span{
	background: #284366;
	padding-top:0px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:0px;
	color:white;
	font-family: sigmar,Helvetica, Arial, sans-serif;
	line-height: 30px;
	font-weight:normal;
	border: 1px solid #97ABC4;

}
 section#conocimientos article span.titulo_span{
 	background: gray;
 	margin-right: 6px;
 }



#info-contacto span{
	background: gray;
	padding: 2px 10px;
	color:white;
	font-family: 'shadow';
	line-height: 30px;
}
#info-contacto p{
	color: #284366;
	padding-left: 20px;
}
form{
	width:95%;
}

form div{
	margin: 10px;

}

input[type="email"], input[type="text"], textarea {
	border-radius: 10px;
	padding:10px;
	width:100%;
	/* transicion*/
	-webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	-ms-transition: all 0.75s ease-in-out;
	-o-transition: all 0.75s ease-in-out;
	transition: all 0.75s ease-in-out;
}

input[type="email"]:focus, input[type="text"]:focus,textarea:focus{
	background: #C6ECF9;
	-webkit-box-shadow: 0px 0px 8px rgb(135,206,250);
	-moz-box-shadow: 0px 0px 8px rgb(135,206,250);
	box-shadow: 0px 0px 8px rgb(135,206,250);
}

input[type="submit"], .contactar{
	background: #1E90FF;
	color: white;
	border-radius:5px;
	padding: 5px;
	font-family: "sigmar";
}

.sindeco{
	text-decoration: none;
}

input[type="submit"]:hover {

	cursor:pointer;
}
form label{
	text-align:justify;
	color:#284366;
}

fieldset {
	padding: 20px;
}
legend{

	color:#284366;
	font-weight:bold;

}

textarea{ 
	resize:none;
}

.separador{
	height:30px; background:white;max-width: 100%;
}

#info-contacto, #contactanos{
	display: inline-block;
	vertical-align:top;
	margin:0 auto;
	text-align:justify;
	max-width:45%;
	width: 45%;
	padding:10px;
	padding-top: 0px;
	padding-left: 0px;
	background: #D2E5F3
}
#info-contacto{
	color:#f90;
	font-weight:bold;
	max-width:40%;
	width: 40%;
	margin-right: 30px;
}

.exito {  
         background-color: gray;
         border-radius: 25px;
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		padding:10px; 
		color:white;
		margin-top:10px;

}

#paginacion {
	font-weight:bold;
	color: white;
}

#paginacion a{
	text-decoration:none;
	color: rgb(154,205,50);
}


footer{
	

	max-width:100%;
	background: #222222;
	color:white;
	
	/* Sombra*/
	-webkit-box-shadow: 1px 1px 8px #292929;
	-moz-box-shadow: 1px 1px 8px #292929;
	box-shadow: 1px 1px 8px #292929;
}

.col_i, .col_d{
	display:inline-block;
	vertical-align:top;
	max-width:50%;
	width: 46%;
	padding-top:20px;
		
}
.col_d{
	max-width:50%;
	width: 50%;
	text-align:right;
}

.col_i{
	text-align:left;
}

.col_i h2{
	padding-left:0;
	margin-left:0;
	text-align:justify;
}
.col_i p{
	padding-left:10px;

}

.col_i a{
	text-decoration:none;
	color:white;
	font-weight:bold;
}

.bordes_r {
	 border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}
.col_d p{
	padding-left:22px;
}

.col_d h2{
	text-align:right;
	padding-right:0px;
	margin-right: 0px;
}

.col_d a{
	
	background: gray;
	padding-top:0px;
	padding-left:9px;
	padding-right:9px;
	padding-bottom:0px;
	color:white;
	font-family: 'shadow';
	line-height: 30px;
	font-size: 22px;
	text-decoration:none;
	/* transicion*/
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.col_d a:hover, .col_i a:hover {
	background:rgba(0,0,0,.5);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}


footer h2{
	font-size:40px;
	color:#1E90FF;
	font-family: sigmar,Helvetica, Arial, sans-serif;
}

footer p{
	padding-top:20px;
	font-size:16px;

}
section#trabajos,section#contact{
	max-width: 95%;
	width: 95%;
}
section#contact{
background: white;
}

.tit{

	margin-bottom: 20px;
	height: 60px;
	background: #D2E5F3;
}

.webs{
	width:200px;
	padding:10px;
	border:solid 10px #284366;
	background: white;
	display:inline-block;
	margin:20px;
	font-weight:bold;
	color:rgb(154,205,50);
	
}

.webs img{
	border: solid 1px white;
	height:180px;
	-webkit-transition: .2s ;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.webs img:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
	
}

.webs a{
	text-decoration:none;
	color: #284366;
}

/** estilos servicios*/

ol {
	padding: 0 16px
}

ol li{
	padding: 16px 0;
}

#servicios-principal img{
	border-radius: 8px;
	/*max-width: 30%;*/
}


section#servicios-principal, section#servicios-tipos {
	margin: 0 auto;
	max-width: 95%;
	text-align: center;
}

section#servicios-tipos p{
	padding: 20px;

}

section#servicios-tipos h3{
	text-align: center;
	padding: 10px;
	border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	color: white;
}

#img-servicios, article#nuestros-servicios{
	display: inline-block;
	margin: o auto;
	vertical-align: top;
	width: 95%;
}

article#nuestros-servicios p
{
	text-align: justify;
}
 article#servicio1 , article#servicio2, article#servicio3 {
	background: #284366;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	max-width: 100%;
	min-height: 300px;
	text-align: justify;
	width: 95%;
}

article#servicio1 , article#servicio2, article#servicio3{
	background: #D2E5F3;
	display: inline-block;
	width: 31%;
	vertical-align: top;
	padding-bottom: 20px;
}

#servicios-tipos article ul{
	padding: 20px;
	padding-top: 0px
	
}

#servicios-tipos article ul li{
	list-style-type: none;
	border-bottom: 1px dashed gray;
	padding: 6px;

}

article#servicio1 h3{
	background-color: #8A969A;
}

article#servicio2 h3{
	background-color: #7FB7D0;
}

article#servicio3 h3{
	background-color: #DF8628;
}





/*#slider:before {
	margin: 0px;
	display: inline-block;
	position: relative;
	top:40px;
	left:-30px;
	z-index: 2;
	content:url(../images/cinta1.png);      
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);        
}*/



/*#slider:after {
	margin: 0px;
	display: inline-block;
	position: relative;
	top:-30px;
	left:100%;
	margin-left: -60px;
	z-index: 2;
	content:url(../images/cinta.png);
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
}*/

/*   css de la animacion*/

#sky {
		  position:absolute;
		  max-width: 100%;
		  width:100%;
		  height: 416px;
		  background: transparent url(../img-animacion/sky.png) 0 0px repeat-x; 

		  
		}
#nubes{
		  position:absolute;
		  max-width: 100%;
		  width:100%;
		  height: 416px;
		  background: transparent url(../img-animacion/nubes.png) 0 0px repeat-x; 

		  
		}
		
		#city2 {
			position: absolute;
			max-width: 100%;
			width: 100%; 
			height: 416px;
			background: transparent url(../img-animacion/city2.png) 0 130px repeat-x; 
			
		}
		#city1 {
			position: absolute;
			max-width: 100%;
			width: 100%; 
			height: 416px;
			background: transparent url(../img-animacion/city.png) 0 130px repeat-x;
			
		}
		
		
		#plane1 {
			position: absolute;
			max-width: 100%;
			width: 300px;
			height: 180px;

			background: transparent url(../img-animacion/avioneta.png) 0 50px no-repeat;
		}
		


/* termina css de la animacion*/






